<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AmazonBookStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- Navigation bar -->

    <div class="row">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AmazonBookStore</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="https://www.britannica.com/biography/Abraham-Lincoln" target="_blank">Bio of Lincoln</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>

    <!-- Headings, block quote and View component are located in this section of code -->

    <h1 class="h1 text-center">@ViewBag.PageTitle</h1>

    <br />

    <div class="row m-1 p-1">

        <div class="col-3">

            <a class="btn btn-outline-info" data-toggle="collapse" href="#AbeQuote" role="button" aria-expanded="false" aria-controls="collapseExample">
                View A Quote
            </a>

            <div class="collapse" id="AbeQuote">
                <div class="card card-body">
                    -->
                    <blockquote class="blockquote text-left">
                        <p>
                            "A capacity, and taste, for reading, gives access to whatever has already
                            been discovered by others. It is the key, or one of the keys, to the already
                            solved problems. And not only so. It gives a relish, and facility, for
                            successfully pursuing the [yet] unsolved ones."
                        </p>
                        <footer class="blockquote-footer">Abraham Lincoln</footer>
                    </blockquote>
                </div>
            </div>

            <br />
            <br />

            <vc:navigation-menu />

        </div>

        <!-- Body is rendered here -->
        <div class="col-9">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - AmazonBookStore
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
