@page
@model AmazonBookStore.Pages.PurchasesModel
@{
}

<h2>Your Cart</h2>

<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Book Title</th><th>Quantity</th><th>Price</th><th>Subtotal</th>
        </tr>
    </thead>

</table>