@{
    ViewData["Title"] = "Home Page";
    ViewBag.PageTitle = "A Few Good Books";
}

@model BookInfoViewModel

 <!--Generates tables from data stored in database. Pretty neat aye?-->

<div>
    @foreach (var x in Model.BookInfos)
    {
        <div class="col">
            <partial name="BookInfoSummary" model="x" />
        </div>
    }

    <!--Accesses PageLinkTaghelper to generate the pagination with Bootstrap elements to make it look nice-->

    <nav>
        <ul class="pagination d-flex justify-content-center">
            <li class="page-item">
                <div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
                        page-class-normal="btn-outline-dark"
                        page-class-selected="btn-primary"
                        page-url-category="@Model.CurrentCategory"
                        class="btn-group pull-right m-1"></div>
            </li>
        </ul>
    </nav>
</div>